/* 
colors: 
black: 141414
white text: eee 
grey text: 86868b
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* global */
:root {
    --main-bg-color: #eee;
    --header-bg-color: #000;
    --header-text-color: white;
    --text-color: #000;
    --text-grey-color: #86868b;
    --link-color: green;
    --card-bg-color: white;
    --box-border-color: black;
    --text-size: 16px;
    --text-large-size: 1.1rem;
    --text-small-size: 0.85rem;
    --text-size-2k: 18px;
    --text-size-4k: 20px;
    --font-family: "Roboto", Helvetica, sans-serif;
    --font-family-serif: 'Times New Roman', Times, serif; 
}

/* overall */
html {overflow-y: scroll; font-size: var(--text-size);}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: var(--font-family);}
h1 {font-size: 3em;}
img {width: 100%; height: auto; margin: auto;}
main {width: 95%; margin: auto; margin-top: 5rem;}
footer {width: 95%; margin: auto; color: var(--text-grey-color); font-size: var(--text-small-size);}
.footnote-date, .corresponding {float: right; color: var(--text-grey-color);}
.corresponding {margin-top: 1rem;}
h1, h2, h3, h4, h5, h6 {font-family: var(--font-family-serif); color: var(--text-color);}
body {margin: auto; background-color: var(--main-bg-color); font-family: var(--font-family); color: var(--text-color); }
p {line-height: 1.28;}
.font-normal-weight {font-weight: normal;}

/* links */
main a, footer a, main a:visited, footer a:visited, .show-text-button {text-decoration: none; color: var(--link-color);}
main a:hover, footer a:hover, .show-text-button:hover {text-decoration: underline;}
#links a, .pubs-links span {margin-right: 1rem;}
.card-links a {margin-right: .7rem;}

/* header */
header {background-color: var(--header-bg-color); color: var(--header-text-color); font-size: 1.5rem; position: fixed; top: 0; width: 100%;}
.navibar {position: relative; overflow: hidden;}
#navi-mobile-home-text, #navi-mobile-icon {display: inline-block;}
#navi-other-items, #navi-desktop-home-item {display: none;}
.navi-item, #navi-mobile-home-item {padding: .6rem .8rem; border-bottom: 1px dashed var(--main-bg-color); display: block;}
.navibar a:link, .navibar a:visited {color: var(--main-bg-color); text-decoration: none;}

.menu-icon-container {display: inline-block; cursor: pointer; padding-top: 3px;}
.icon-bar-1, .icon-bar-2, .icon-bar-3 {width: 28px; height: 3px; background-color: var(--main-bg-color); margin-top: 6px; margin-right: 10px; transition: .4s;}
.menu-icon-change .icon-bar-1 {-webkit-transform: rotate(-45deg) translate(-7.2px, 4.8px); transform: rotate(-45deg) translate(-7.2px, 4.8px);}
.menu-icon-change .icon-bar-2 {opacity: 0;}
.menu-icon-change .icon-bar-3 {-webkit-transform: rotate(45deg) translate(-10px, -4px); transform: rotate(45deg) translate(-8px, -8px);}

/* home content */
.avatar-container {display: block; width: 80%; margin: auto; padding: 1rem 0 0 0;}
.avatar {aspect-ratio: 1/1; object-fit: cover; width: 100%;}
#home-scholar-timeline {display: none;}
#home-intro p {text-indent: -.8rem; padding-left: .8rem;}

/* publication */
.pub-item {display: none; font-weight: lighter;}
.pub-selected {display: block;}
#pubs-by-topic ul {font-weight: 400;}
#pubs-by-topic ul a {font-weight: lighter;}
#pubs-browse-year:checked + label, #pubs-browse-topic:checked + label {font-weight: bold;}
#pubs-by-topic {display: none;}

/* curated */
.curated-img {width: 80%; margin: auto;}

/* viz */
#stat-page {display: none;}
.viz-trace {padding: 0;}
.viz-trace li {font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;font-weight: normal; list-style-type: none; margin-right: .3rem; margin-bottom: .3rem; padding: .3rem; background-color: var(--main-bg-color); display: inline-block; border-radius: .4rem;
}

/* bib */
#bib-data-object {width: 100%; height: 60vh; background-color: white;}

/* contact */
.uestc-logo {display: block; width: 50%; height: auto; margin: auto;}
.affi-photo {width: 100%; height: auto; border: 2px solid black;}
.affi-map {display: none; border: 2px solid black; width: 100%; height: 35vh;}
#zh-lab-address {display: none;}

/* modules */
/* 1. card */
.card-item {background-color: #fff; padding: .5em 1em; margin: 1em 0 1.5em 0; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);}

/* 2. tools */
.clear-both {clear: both;}

@media (min-width: 630px) {
    /* header */
    header {font-size: 1.05rem; opacity: .98; box-shadow:0 2px 16px 0 rgba(0,0,0,.22),inset 0 -1px 0 0 #dadce0; background-color: var(--main-bg-color); color: var(--text-color);}
    .navibar {width: 100%; margin: .8rem auto; text-align: right;}
    #navi-mobile-home-item {display: none;}
    #navi-desktop-home-item, #navi-other-items, #navi-other-items a {display: inline-block; border: 0;}
    .navi-item, #navi-desktop-home-item {padding: .2rem .3rem; margin-right: 1rem;}
    .navibar a:link, .navibar a:visited {color: var(--text-color); text-decoration: none;}
    .navibar a:hover {color: var(--text-grey-color); transition: .5s; text-decoration: underline;}

    /* layout */
    footer {font-size: var(--text-small-size);}

    /* home content */
    .avatar-container {display: inline-block; width: 35%; padding: 2rem 2rem 2rem 0;}
    .avatar {aspect-ratio: auto; }
    .home-content {display: inline-block; width: 58%; vertical-align: top; padding-top: 2rem;}
    #home-scholar-timeline {display: block;}
    #home-position {font-size: 1.2rem;}
    #home-intro p {line-height: 1.3; margin: .8rem 0; font-weight: lighter;}
    #home-name {font-size: 3.3rem; }

    /* publication */
    .pub-item, .pub-affi {margin-left: 2rem;}

    /* contact */
    .uestc-logo {float: right; width: 10rem; margin: 1rem;}
    .affi-photo {display: inline-block; width: 100%; object-fit: cover;}
    .affi-map {display: inline-block; width: 100%; height: 30rem;}

    /* viz */
    #stat-page {display: block;}
    #stat-mobile {display: none;}
    #pub-rel-viz-frame {min-width: 40rem; min-height: 33rem; width: 100%; border: 0; background-color: #eee;}
}

@media (min-width: 992px) {
    /* home content */
    .avatar-container {width: 24%;}
    .home-content {width: 66%; }

    /* contact */
    .uestc-logo {float: right; width: 10rem; margin: 1rem;}
    .affi-photo {width: 48%; height: 22rem;}
    .affi-map {width:48%; height: 22rem;}
}

@media (min-width: 2000px) {
    html {
        font-size: 18px;
    }

    /* max width of navibar, main, footer */
}

@media (min-width: 3000px) {

}

/* @media screen and (min-width: 2000px) {
    html {
        font-size: 20px;
    }
    #bib-data-object, main, #header-content, #foot-content {
        /* max-width: 80%; */
        /* width: 80%;
        margin: auto;
    }
} */ 
