body {
	background-color:#f5f5f0;
	font-family: Palatino, Book Antiqua, Times New Roman, Arial;
}

.t-center {
	text-align: center;
}
.t-small {
	font-size: 140%;
}
.t-middle {
	font-size: 180%;
}
.t-large {
	font-size: 250%;
}

.section {
	min-width: 400px;
	max-width: 900px;
	/* width: 100%; */
	margin: auto;
	/* padding: 0 .8em; */
}

.smaller-section {
	min-width: 400px;
	max-width: 768px;
	/* width: 100%; */
	margin: auto;
	padding: 0 .8em;
}

.hanging p {
	text-indent: -2em;
	margin-left: 3em;
}

p {
	margin-top: .65em;
	margin-bottom: .65em;
}

#bio-section p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.title {
	margin-top: .5em;
	margin-bottom: .5em;
}

.tab-margin {
	margin-right: .5em;
	margin-left: .5em;
}


.tab-select {
	font-style: italic;
	text-decoration: underline;
	font-size: 1.1em;
}

#tabs {
	clear: both;
}

#select-all {
	display: inline;
	float: right;
}

#tabs span {
	cursor: pointer;
}

@media (max-width: 599px) {
	.avatar {
		width: 100%;
		height: auto;
	}

	.avatar-container {
		max-width: 50%;
		width: 50%;
		padding: 5px;
		position: relative;
		margin: auto;
	}

	.avatar-overley {
		position: absolute;
		bottom: 10pt;
		opacity: 1;
		background-color:rgba(0, 0, 0, 0.3);
		color: #f1f1f1;
		width: 86%;
		transition: .5s ease;
		padding: 5px 10px;
		text-align: center;
		font-weight: bold;
		font-size: medium;
	}
}

@media (min-width: 600px) {
	.avatar {
		width: 100%;
		height: auto;
	}

	.avatar-container {
		float: right;
		max-width: 200px;
		width: 200px;
		position: relative;
		padding: 5px 0px 5px 10px; 
	}

	.avatar-overley {
		position: absolute;
		bottom: 10pt;
		opacity: 0;
		background: rgba(0, 0, 0, 0.3);
		color: #f1f1f1;
		width: 180px;
		transition: .5s ease;
		padding: 5px 10px; 
		text-align: center;
		font-weight: bold;
		font-size: medium;
	}

	.avatar-container:hover .avatar-overley {
		opacity: 1;
	}
}

venue {
	margin-right: 1em;
	font-weight: bold;
}

timespan {
	margin-right: .5em;
}

.tab-color {
	color:rgb(51, 102, 0);
}

#news {
	color: red;
	font-size: 1.2em;
	font-style: italic;
}

#news-lst li {
	margin-bottom: 6pt;
}
