.t-center {
	text-align: center;
}
.t-small {
	font-size: 150%;
}
.t-middle {
	font-size: 200%;
}
.t-large {
	font-size: 300%;
}
td, th {
	text-align: left;
	padding: 2px;
	vertical-align: top;
}
.item-left {
	width: 200px;
}

#basic-info th {
	width: 200px;
}

label, input {
	margin: 15px 5px 5px 2px;
}

.section {
	min-width: 400px;
	max-width: 1080px;
	width: 100%;
	margin: auto;
}